html{
  margin: 0px;
  padding: 0px;
}

body{
    color: grey;
    line-height: 1em;
    font-family: "helvetica", "Arial Black",sans-serif;
    background-color: rgba(240,240,240);
    height: 100%;
    margin: 0px;
    padding: 0px;
}


header{
    display: flex;
    flex-direction: column;
    background-color: rgba(240,240,240);
    position: sticky;
    top: 0px;
    margin:0px;
   
}

ul.list_sliders{
    display: flex;
    flex-direction: column;
    align-items: center;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li{
    float:left;
    text-align: center;
    width:15%;
    margin: 10px 0px 10px 80px;
}

nav a{
    display: block;
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}


a:hover{
  color:white;
  border-bottom: 2px solid white;
}

.page_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin: 10px 120px 30px 120px;
}

.content{
    display: flex;
    flex-direction: column;
    margin: 10px 70px 10px 70px;
    align-items: center;
    justify-content: space-evenly;

}

.form_container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 684px;
    border: 1px rgba(240, 240, 240) solid;
    padding:8px;
    align-items: center;
    justify-content: space-around;
}

.two_col{
    display: flex;
    flex-direction: row;
    margin: 15px;
}



.df{
    
    width: 500px;
    height: 300px;
    
    overflow-x: auto;
    overflow-y: auto;
    
}

li{
    width: 120%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
    display: flex;
    
}

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 8px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: grey;
  opacity: 90%;
}

.press{
  width: 40%;
  background-color: rgba(0, 0, 0, 0.15);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.press:hover{
  background-color: grey;
}

.explanation{
    font-size: 0.8em;
    text-align: justify;
    width: 684px;
    background-color: rgba(0, 0, 0, 0.25);
    border: 4px white double;
    padding:8px;
}

img{
	

  width:90%;
  height:90%;
 
}



h1{
    font-size: 1.9em;
    text-align: center;
    margin: 30px 0px 20px 0px;
}

h2{
    color: grey;
    font-size: 1.4em;
    padding-top: 10px;
}

hr{
    border-top : 1px solid rgba(220,220,220);
    width : 700px;
}

footer{
    display: flex;
    bottom: 0px;
    justify-content: space-around;
    background-color:rgba(0, 0, 0, 0.15);
    width:100%;
    font-size: 1.2em;
    color:grey;
}

footer div{
  margin-top: 5px;
  width:20%;
  float:right;
}

footer li {
  color:white;
  font-size: 0.8em;
  margin: 5px 0px 0px 20px;
}
