<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %}
Data synthesization : Graphical results
{% endblock %}

{% block content %}

<div class="page_container">
    <div class="content">


        <h2>Graphical results </h2>
        <hr/>

        <div class="form_container">
          <!--<img id="img1" src={{path_img1}}>-->
          <div> Pearson plot </div>
         <!-- <div> Probabilité d'avoir une vraie image : {{p_true}}  </div>-->

          <button class="press" type="button" onclick=
                  "this.style.display='none';

                  javascript:viewImage('img_pearson','/static/images/pearson.png');">Display Pearson plots</button>

          <div id="img_pearson"></div>

        </div>

        <div class="form_container">

          <div> Scatter plots </div>

          <button class="press" type="button" onclick=
                  "this.style.display='none';

                  javascript:viewImage('img_scatter','/static/images/scatter.png');">Display Scatter plots</button>

          <div id="img_scatter"></div>

        </div>

        <div class="form_container">

          <div> Distribution plots </div>

          <button class="press" type="button" onclick=
                  "this.style.display='none';

                  javascript:viewImage('img_distr','/static/images/distr.png');">Display Distribution plots</button>

          <div id="img_distr"></div>

        </div>
    </div>
</div>

{% endblock %}