<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %}
Data synthetization : Data synthesization
{% endblock %}

{% block content %}

<div class="page_container">
    <div class="content">
        <h2>Choose your synthesization technique</h2>

    </div>
    <div class="two_col">
        <div class="page_container">
            <h3>SMOTE </h3>
            <p>
                SMOTE (Synthetic Minority Over-sampling Technique)
            </p>
            <form action="" method="post" >
              <button type="submit">Synthesize</button>

            </form>
        </div>
        <div class="page_container">
             <h3>Statistical generative model</h3>
        </div>

    </div>
</div>

{% endblock %}